@page
@model KlantBestelApplicatie.Pages.Account.IndexModel

<h1 class="mb-4">
    Account
</h1>

<div class="card shadow-sm">

    <div class="card-body">

        <p>
            Dit is een prototype accountpagina.
        </p>

        <div class="mb-3">

            <label class="form-label">
                E-mailadres
            </label>

            <input class="form-control" />

        </div>

        <div class="mb-3">

            <label class="form-label">
                Wachtwoord
            </label>

            <input type="password"
                   class="form-control" />

        </div>

        <button class="btn btn-primary">
            Inloggen
        </button>

    </div>

</div>